{% extends "layout.twig" %}

{% block content %}
<h3>{{ "Contact Us"|trans }}</h3>
                
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.message) }}

    <button type="submit" class="btn btn-default">{{ "Send"|trans }}</button>
{{ form_end(form) }}
{% endblock %}