{% extends "layout.twig" %}

{% block content %}
{% if is_granted('ROLE_USER') %}
<h3>{{ "Add Quote"|trans }}</h3>

{{ form_start(form) }}
    {{ form_row(form.quote) }}
    {{ form_row(form.author) }}

    <button type="submit" class="btn btn-default">{{ "Add"|trans }}</button>
{{ form_end(form) }}
{% endif %}
                
<h1>{{ "Quotes"|trans }}</h1>

{% for quote in quotes %}
<p>{{ quote.getQuote }}</p>

<div class="row">
    <div class="col-xs-2"><strong>{{ "Author"|trans }}</strong></div>
    <div class="col-xs-10">{{ quote.getAuthor.getName }}</div>
</div>

<div class="row">
    <div class="col-xs-2"><strong>{{ "Inserted by"|trans }}</strong></div>
    <div class="col-xs-10">{{ quote.getInsertedBy.getName }}</div>
</div>

<hr>
{% endfor %}
{% endblock %}